.img_block {
    margin-top: 10px;
    display: flex;
    width: fit-content;
    position: relative
}

.img_block img {
    min-width: 50px;
    max-width: 100px;
    max-height: 100px
}

.img_block .delete {
    margin-left: 10px;
    height: 40px
}

.notify-block {
    display: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px
}

.notify-block.error {
    background-color: red;
    display: block
}

.notify-block.success {
    background-color: green;
    display: block
}

.repeater_block {
    margin-bottom: 15px
}

.repeater_block [data-repeater-item] {
    padding-left: 0 !important;
    border-top: 1px solid rgba(0,0,0,.1);
}
.repeater_block [data-repeater-item]:first-child {

    border-top: none;
}

.tq_relation_table label {
    display: none
}

.tq_relation_table tr td, .tq_relation_table tr th {
    padding: 5px;
    text-align: center
}

.tq_relation_table tr td .col-10 {
    width: 100%;
    max-width: 100%;
    flex: unset
}

.tq_analytic_form span.select2, .tq_relation_table span.select2 {
    width: 100% !important
}

.tq_relation_table .currency {
    display: flex
}

.tq_relation_table .currency .row {
    max-width: 50%;
    width: 100%;
    display: inline-table;
    margin-right: 5px
}

.tq_blocks {
    margin-top: 10px;
    counter-reset: myCounter
}

.tq_blocks .m-portlet--tab .m-portlet__head-title:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    background: #2980b9;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: Roboto;
    margin: 14px
}

.tq_blocks .tq_charts {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center
}

.tq_chart {
    display: flex
}

#data_list td {
    word-break: break-all
}
[data-show-if]{
    display: none;
}
[data-show-if].active{
    display: flex;
}
.center_column{
    width: 100%;
    text-align: center;
}
.dark-row{
    background: #2c2e3e;
    color: #868aa8;
}
.dark-row a{
    color: #716aca;
}
.dark-row a:hover{
    color: #7a8a9d;
}
.table-hover tbody tr.dark-row:hover{
    background: #2c2e3e;
}
.m-portlet__foot [data-delete-model]{
    opacity: 0.5;
    pointer-events: none;
}
.m-portlet__foot.active [data-delete-model]{
    opacity: 1;
    pointer-events: unset;
}


.m-portlet__foot [data-url]{
    opacity: 0.5;
    pointer-events: none;
}

.m-portlet__foot.active [data-url]{
    opacity: 1;
    pointer-events: unset;
}

.fc-event-title{
    color: black;
}
